body{
    background-color: aquamarine;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.6s ease;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px; 
    grid-template-areas:
    "a1 a2 a3" 
    "a1 a4 a3";
}

.item{
    background-color: white;
    padding: 1.2em;
    border: 2px solid black;
}

@media (max-width: 1500px) {
    body{
   background-color: rgb(74, 58, 219);
   font-size: 3em;
   font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media (max-width: 1000px){
    body{
        background-color: green;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media (max-width: 500px) {
    body{
        background-color: orange;
        font-size: 1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}