:root {
    --base-clr: rgb(112, 45, 33);
    --hoover-clr: rgba(0, 0, 0, 0.8);
    --text-clr: black;
    --acent-clr: rgb(192, 82, 63);
    --title-clr: rgb(179, 118, 90);
    --base-padding: 3rem;
}


* {
    background-color: var(--base-clr);
}

h1 {
    color: var(--title-clr);
    text-align: center;
    font-size: 80px;
}

p {
    color: var(--text-clr);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2 {
    color: var(--title-clr);
    text-align: justify;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 25%;
    padding: 6px 10px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    color: rgb(0, 0, 0);
    font-size: 19px;
    outline: none;
    margin-bottom: 20px;
    font-weight: 50px;
    padding: 1.2rem;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    /* Permite que as imagens fiquem uma do lado da outra */
    vertical-align: middle;
    /* Alinha verticalmente ao centro (opcional) */
    margin: 5px;
}


button{
    border: 0px;

}