body {
    background-color: darkblue;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    font-size: xx-large;
    background-color: rgba(161, 218, 255, 0.678);
    border: 10px transparent rgba(180, 160, 160, 0.253);
    border-radius: 10px;
    padding: 30px;
    margin: 60px;
    color: black;
    box-shadow: 0rem 2rem 2rem rgb(0, 0, 0);


}

input,
textarea,
button {
    font-size: x-large;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}

button {
    font-weight: 600;
    width: 100%;
    text-align: center;
}



textarea {
    resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(44, 44, 206);
    color: aliceblue;
    box-shadow: 0cap 1rem 1rem rgb(0, 0, 0);

}

textarea:hover {
    background-color: rgb(16, 91, 153);
    color: azure;
}

/* #container-flex {
    height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    background-color: rgb(79, 152, 221);
    padding: 5px;
    border: 2px dotted black;
    border-radius: 5px;
    justify-content: flex-end;
}


.item {
    background-color: rgb(162, 196, 240);
    border: 2px dotted black;
    height: 2rem;
}

.item3 {
    flex-grow: 4;
} */

#contato {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
    justify-self: center;
}